/*GENERAL CONTACT STYLING*/
.main-content-wrapper {
    display: block;
    align-items: center;
    justify-content: center;
    height: fit-content;
}


/*form styling*/
.contact-form-wrapper {
    height: fit-content;
    width: 40vw;
    margin: auto;
}

.contact-form-wrapper form fieldset {
    border: solid 4px gray;
    border-radius: 6px;
    min-width: 40vw;
    padding: 50px;
}


.contact-form-wrapper form fieldset legend {
    font-size: 36px;
    padding: 0 .25em;
    color: var(--white);
}

.label-input-container {
    margin-top: 50px;
}

.label-input-container label {
    display: block;
    font-size: 32px;
    color: var(--white);
}

.label-input-container:first-of-type {
    margin-top: 20px;
}

input, textarea {
    padding: .5em;
    border: solid 1px gray;
    color: var(--white);
    background-color: var(--darkGrayTrans);
    font-size: 24px;
}

input[type="email"], input[type="text"] {
    width: 80%;
}

input[type="tel"] {
    width: 60%;
}

textarea {
    min-height: 8em;
    min-width: 100%;
}

button {
    padding: 7px;
    border: 2px solid gray;
    background-color: var(--darkGrayTrans);
    color: var(--white);
    font-size: 24px;
    border-radius: 25px;
    transition: background-color .5s ease;

    display: block;
    margin: auto;
    margin-top: 50px;
}

button:hover {
    cursor: pointer;
    background-color: rgba(151, 148, 148, 0.6);
}



/*Alternate contact styling*/
.contact-alternate-wrapper {
    color: var(--white);
    width: 40vw;
    background-color: var(--darkGrayTrans);
    padding: 20px 0;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 25px;
    border: 4px solid gray;
}

.contact-alternate-header {
    min-width: 40vw;
}

.contact-alternate-wrapper h1 {
    text-decoration: 2px solid underline var(--black);;
    margin-bottom: 20px;
}

.contact-alternate-wrapper a {
    font-size: 36px;
    padding-left: 10px;
}


@media (max-width: 1200px) {
    /*form*/
    .contact-form-wrapper {
        min-width: 60vw;
    }

    .label-input-container label {
        font-size: 26px;
    }

    /*alternate*/
    .main-content-wrapper {
        margin-top: 150px;
    }

    .contact-alternate-wrapper {
        min-width: 60vw;
    }

    .contact-alternate-wrapper h1 {
        font-size: 48px;
    }
}

@media (max-width: 600px) {
    .contact-form-wrapper {
        width: 90vw;
    }

    .contact-alternate-wrapper {
        width: 90vw;
    }
}