/*INDEX SPECIFIC STYLING*/

.index-content-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40vh 40vh;
    grid-template-areas:
    "headshotImg introText"
    "headshotImg map";
    gap: 10px;
    margin: auto;
    max-height: 90vh;
}

.index-headshot-wrapper {
    min-height: 60vh;
    margin-top: 50px;
}

.index-headshot {
    width: 80%;
    height: 100%;
    background-image: url(../images/tempHeadshot.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
    margin-top: 10%;
    border-radius: 25px;
    grid-area: headshotImg;
}

.index-text-wrapper {
    width: 100%;
    grid-area: introText;
}

.index-text {
    margin: 50px;
    color: white;
}

#map {
    width: 100%;
    height: 100%;
    margin: auto;
    grid-area: map;
}

#marker {
    background-image: url('/wp-content/uploads/2021/04/copywriter-logo-dark.svg');
    background-size: cover;
    width: 30px;
    height: 30px;
}

.index-text h1 span {
    color: rgb(72, 149, 239); /*bright blue*/
}

.index-text h3 {
    font-size: 36px;
    margin-top: 10px;
    margin-bottom: 50px;
}

.index-text h3 span {
    color: rgb(116, 140, 171);
}

.index-text a {
    padding: 6px 10px;
    font-size: 36px;
    border: 2px solid white;
    border-radius: 25px;
    transition: background-color 0.5s ease;
}

.index-text a:hover {
    background-color: rgba(192, 187, 187, 0.2);
}

@media (max-width: 1200px) {

    .index-text h1 {
        font-size: 48px;
        margin-top: 100px;
    }

    .index-text h2 {
        font-size: 36px;
    }

    .index-text a, .index-text h3 {
        font-size: 24px;
    }

    #map {
        width: 80%;
        height: 80%;
        margin-top: 0;
    }
}

@media (max-width: 600px) {
    .main-content-wrapper {
        min-height: 125vh;
        padding-bottom: 50px;
    }

    .index-content-wrapper {
        grid-template-columns: 90%;
        grid-template-rows: 40vh 30vh 40vh;
        grid-template-areas:
            "headshotImg"
            "introText"
            "map";
        max-height: none;
    }

    .index-headshot-wrapper {
        min-height: 30vh;
    }

    .index-headshot {
        margin-top: 0;
        min-height: 400px;
        height: 400px;
    }

    .index-text h1 {
        font-size: 36px;
        margin-top: 20px;
    }

    .index-text h2 {
        font-size: 28px;
    }

    .index-text a, .index-text h3 {
        font-size: 24px;
    }

    #map {
        height: 100%;
        width: 100%;
    }
}