/*GENERAL PROJECT STYLING*/
.main-content-wrapper {
    display: block;
}



/*HEADER*/
.main-content-wrapper header {
    width: 100%;
    height: 25vh;
    line-height: 25vh;
    justify-content: center;
    color: var(--bright1);
}

.main-content-wrapper header h1 {
    padding-left: 15vw;
    font-size: 120px;
    font-weight: 600;
}



/*PROJECT SECTION*/

/*Alignment*/
.project-wrapper {
    width: 90vw;
    left: 200px;
    display: block;
    position: absolute;
    padding-bottom: 100px;
}

.project-container {
    width: 100%;
    display: flex;
    margin-top: 15vh;
    margin-bottom: 50vh;
}

.project-container:first-child {
    margin-top:0;
}

/*Images & Video display*/
.project-img {
    width: 45%;
    margin: 0 20px;
    max-height: 600px;
    display: flex;
    text-align: center;
    justify-content: center;
}

.project-img img {
    max-height: 60%;
    margin-top: 20%;
}

/*Text*/
.project-text {
    padding: 50px;
    background-color: rgba(211, 209, 209, 0.3);
    border: 4px solid gray;
    color: rgb(240, 235, 216);
    max-width: 45%;
}

#projectTextRight {
    text-align: right;
}

#projectTextRight p {
    text-align: left;
}

.skill-tags {
    display: flex;
    gap: 20px;
    font-size: 18px;
    justify-content: left;
    height: 2em;
}

.project-container:nth-child(even) .skill-tags {
    justify-content: right;
}

.skill-tags h4:hover {
    font-size: 24px;
    color: var(--brightBlue);
}

/*Project Links*/
.project-button-wrapper {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.project-button-wrapper a {
    font-size: 24px;
    padding: 7px;
    border: 2px solid gray;
    background-color: rgba(151, 148, 148, 0.3);
    color: rgb(240, 235, 216);
    border-radius: 25px;
    transition: background-color .5s ease;

    display: block;
    margin: auto;
    margin-top: 50px;
}

.project-button-wrapper a:hover {
    cursor: pointer;
    background-color: rgba(151, 148, 148, 0.6);
}

@media (max-width: 1200px) {
    .main-content-wrapper header {
        padding-left: 0;
        text-align: center;
    }

    .main-content-wrapper header h1 {
        padding-left: 0;
    }


    .project-wrapper {
        width: 90vw;
        left: 50px;
        margin: auto;
        display: block;
        position: absolute;
    }

    .project-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        row-gap: 50px;
    }

    .project-container:nth-child(even) .project-img {
        order: 1;
    }

    .project-container:nth-child(even) .project-text {
        order: 2;
    }

    .project-text {
        max-width: 90vw;
        margin: auto;
    }

    .project-img {
        width: 90%;
    }

    .project-img video {
        max-height: 100%;
    }

    #projectTextRight {
        text-align: left;
    }

    .project-container:nth-child(even) .skill-tags {
        justify-content: left;
    }
}

@media (max-width: 600px) {
    .main-content-wrapper header h1 {
        font-size: 48px;
    }

    .project-wrapper {
        left: 25px;
    }

    .project-container:nth-child(even) .skill-tags, #projectTextRight {
        justify-content: left;
        text-align: left;
    }

    .project-img {
        width: 100%;
        margin: 0;
    }

    .project-text h1 {
        font-size: 48px;
    }

    .skill-tags {
        font-size: 16px;
    }

    .skill-tags:hover {
        font-size: 18px;
    }

    .project-text p {
        font-size: 18px;
    }
    
    .project-button-wrapper {
        gap: 15px;
    }

    .project-button-wrapper a {
        font-size: 16px;
        padding: 6px 4px;
    }
}