/*GENERAL STYLING*/
.main-content-wrapper {
    display: block;
    max-width: 100vw;
    color: var(--white);
}

/*MOBILE FIRST*/

/*GRID*/
.skill-grid {
    display: grid;
    grid-template-columns: 1fr;
}


/*SKILLS*/
.skills-container {
    background-color: var(--dark3);
    width: 90%;
    margin: auto;
    border-radius: 25px;
    padding: 1rem;
    margin-top: 1rem;
    border: 1px solid var(--bright2);
}

.skills-wrapper {
    background-color: var(--dark2);
    border-radius: 25px;
    margin-top: 1rem;
    padding: 1rem;
    border: 1px solid var(--bright2);
    overflow: scroll;
    text-align: center;
}

.skills-wrapper h2 {
    margin-bottom: 1rem;
}

.skills-tag-icon {
    display: flex;
    align-content: center;
    justify-content: center;
}

.skills-tag-icon i {
    font-size: 3rem;
    margin: auto 1rem;
}

.skills-tag {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .5rem;
    text-align: center;
}

.skills-tag p {
    font-size: 1.2rem !important;
    background-color: var(--dark3);
    border-radius: 25px;
    padding: .5rem;
    border: 1px solid var(--bright2);
    transition: all .5s;
}

.skills-tag p:hover {
    background-color: var(--dark2);
}


/*EXPERIENCE*/

.exp-scroll-container {
    background-color: var(--dark2);
    width: 90%;
    border-radius: 25px;
    padding: 1rem;
    margin: auto;
    margin-top: 1rem;
    border: 1px solid var(--bright2);
}

.exp-header {
    text-align: center;
}

.exp-wrapper {
    margin-top: 20vh;
}

.exp-wrapper-text {
    background-color: var(--dark1);
    padding: 1rem;
    border-radius: 25px;
    margin-top: 1rem;
    border: 1px solid var(--bright2);
}

.exp-wrapper-text ul {
    list-style:circle;
}

.exp-wrapper-text ul li {
    font-size: 1.3rem;
    width: 90%;
    margin: auto;
    margin-top: .5rem;
}


@media (min-width: 768px) {
    .skills-tag {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 1024px) {
    .skill-grid {
        grid-template-columns: 50vw 50vw;
    }

    .skills-container {
        position: fixed;
        width: 40vw;
        right: 5vw;
        margin-top: 10px;
    }

    .exp-scroll-container {
        order: 1;
    }
}

@media( min-width: 1201px)
{
    .skill-grid {
        grid-template-columns: 50% 50%;
        width: calc(100vw - 125px);
        margin-left: auto;
    }
}