/*GENERAL STYLING*/
.main-content-wrapper {
    display: block;
    max-width: 100vw;
}

/*FIXED RIGHT SKILLS*/
.skills-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: fixed;
    right: 1%;
    background-color: var(--lightGrayTrans);
    margin-top: 5vh;
    border: 1px solid gray;
    border-radius: 25px;
    z-index: 500;
    height: 90vh;
}

.skills-wrapper, .exp-wrapper {
    color: var(--white);
    height: fit-content;
    max-width: 35vw;
    margin: 10px 15px;
    text-align: center;
    background-color: var(--dark3);
    border-radius: 25px;
}

.skills-wrapper {
    max-height: 33vh;
    padding: 20px 5px;
}

.skills-wrapper h2 {
    margin-bottom: 20px;
}

.skills-tag-icon {
    display: flex;
    min-height: 100px;
    justify-content: space-evenly;
}

.skills-tag-icon i {
    font-size: 64px;
    align-self: center;
}

.skills-tag {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    margin-left: 10px;
    text-align: center;
}

.skills-tag p {
    padding: 5px;
    border: 1px solid #111;
    border-radius: 25px;
    line-height: 32px;
    font-size: 18px;
    border: 1px solid gray;
    background-color: var(--lightGrayTrans);
    transition: background-color .5s ease;
    align-self: center;
}

.skills-tag p:hover {
    background-color: var(--darkGrayTrans);
}


/*Experience section*/
.exp-scroll-container {
    position: absolute;
    left: 150px;
    width: 45vw;
    background-color: var(--lightGrayTrans);
    border-radius: 25px;
    border: solid gray 1px;
    display: grid;
    grid-template-columns: 1fr;
}

.exp-wrapper {
    min-width: 95%;
    margin: 25px auto 15vh auto;
    text-align: left;
    padding: 50px;
    /*Styling with .skills-wrapper*/
}

.exp-wrapper:last-child  {
    margin: 25px auto;
}

.exp-desc-group p {
    padding: 5px 0;
}


/*Section Headers*/
.exp-header {
    text-align: center;
    margin-bottom: 20px;
    text-decoration: solid underline 3px var(--dark1);
    text-underline-offset: 4px;
}

/*Text description*/
.exp-wrapper-text {
    margin-right: 15%;
    margin-bottom: 100px;
    background-color: var(--bright2);
    opacity: .5;
    border-radius: 25px;
    border: 1px solid gray;
    padding: 20px;
}

/*Job Duties UL*/
.exp-wrapper-text ul {
    list-style-type: circle;
    margin-left: 20px;
}

.exp-wrapper-text ul li {
    font-size: 24px;
    padding: 10px 0;
}

@media (max-width: 1200px) {
    /*Skills restyle*/
    .skills-container {
        right: 5%;
        margin-top: 10px;
        max-height: 86vh;
        justify-content: space-around;
    }

    .skills-wrapper {
        margin: 10px auto;
    }
    
    .skills-wrapper h2 {
        font-size: 32px;
        margin-bottom: 10px;
    }

    .skills-tag {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        overflow: hidden;
    }

    .skills-tag-icon i {
        font-size: 36px;
    }

    .skills-tag p {
        font-size: 14px;
        padding: 0;
        line-height: 24px;
    }


    /*Experience restyle*/
    .exp-scroll-container {
        left: 5%;
        width: 50vw;
    }

    .exp-header h1 {
        font-size: 42px;
    }

    .exp-wrapper {
        padding: 10px;
    }

    .exp-wrapper-text {
        margin: 50px auto;
    }
}

@media (max-width: 600px) {
    

    .skills-container {
        left: 0;
        top: 0;
        position: relative;
        width: 90vw;
        margin: 25px auto;
        max-height: none;
        height: fit-content;
        padding: 25px 0;
    }

    .skills-wrapper {
        min-width: 80vw;
        margin: 20px auto;
    }

    .skills-wrapper h2 {
        margin-bottom: 20px;
    }    

    .skills-wrapper p {
        font-size: 18px;
        padding: 0;
        line-height: 36px;
    }

    .skills-tag {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
    }

    .skills-tag-icon i {
        font-size: 48px;
    }

    .exp-scroll-container {
        left: 0;
        position: relative;
        width: 90vw;
        margin: 25px auto;
    }

    .exp-wrapper {
        padding: 10px;
    }

    .exp-wrapper-text {
        min-width: 80vw;
        margin: 25px auto;
    }
}

@media (max-width: 385px) {
    .skills-container {
        max-height: none;
    }

    .skills-tag {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }

    .skills-wrapper p {
        line-height: 28px;
    }
}